* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(310deg, #e6e6e6 0%, #ebebeb 100%);
}

button {
  all: unset;
  cursor: pointer;
  text-align: center;
}

.alerts-container {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.alert {
  color: red;
  text-align: center;
  padding-top: 3rem;
  font-size: 1.2rem;
}

.content-container {
  height: 100vh;
  height: 100dvh;
  display: grid;
  place-items: center;
}

#main-btn {
  padding: 2rem 3rem;
  font-size: 1.5rem;
  border-radius: 50px;
  background: #ebebeb;
  box-shadow: 13px 13px 40px #c8c8c8, -13px -13px 40px #ffffff;
  color: #1b1b1b;
}

#main-btn:hover {
  color: black;
  box-shadow: 13px 13px 40px #c2c2c2, -13px -13px 40px #ffffff;
}

.show-element {
  display: block;
}
